<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login page</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h3>Hello user !!!</h3>
        <form action="/login" method="post">
            <p>
                <label>login:</label>
                <input type="text" name="login">
            </p>
            <p>
                <label>password:</label>
                <input type="text" name="password">
            </p>
            <input type="submit" value="login">
            <hr>
            <p>
                if you do not have an account, you can register <a href="/register">here</a>
            </p>
        </form>
    </body>
</html>