<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>hello user</title>
    </head>
    <body>
        <h3>Hello {{user.name}}</h3>
        <p>
            login: {{user.login}}
        </p>
        <p>
            age: {{user.age}}
        </p>
        <hr>
        <p>
            show all users:
            <a href="/users">click here</a>
        </p>
    </body>
</html>