<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>All users</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div>
        {{#each users}}
            <p class="userBox">
                {{this.name}} - {{this.age}}
            </p>
        {{/each}}
        </div>
        <div class="link">
            You can login
            <a href="/login">here</a>
        </div>
    </body>
</html>